/* upload  */
body{
	font-family:Arial, Helvetica, sans-serif;
	color:#999999;
	font-size:15px;
}
/* image profile*/
table.img_profile{
	width:1200px;
	text-align:justify;
	margin:auto;
}
table.img_profile tr td.basic_title , table.img_profile tr td.gallery{
	height:25px;
}
.title_prf{
	font-weight:bold;
	font-size:20px;
	color:#0066FF;
}
.save_image input{
	background:#666666;
	cursor: pointer;
	width:120px;
	border:none;
	border-radius:4px;
	font-weight:bold;
	font-size:17px;
	color:#FFFFFF;
}
#map{
	width:400px;
	height:200px;
}
.basic_decription textarea{
	height:150px;
	width:350px;
}
.basic_title input, #camera_model,#latitude, #longitude, #lens , #focal_length , #shutter_speed , #aperture , #iso , #taken , input.form-control {
	border:none;
	height:20px;
	width:250px;
	border-radius:5px;
	color:#999999;
	font-size:15px;
}
.gallery select{
	width:200px;
	border:none;
	border-radius:5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#999999;
	font-size:15px;
}
/*exif*/
table.detail_exif tr td{
	height:33px;
}
table.detail_exif{
	width:400px;
	margin:auto;
}
/*display image upload*/
table.display-image{
	width:1200px;
	margin:auto;
	text-align:center;
}
table.display-image tr td.image_upload{
	height:540px;
}
/**/

#picture{
	background:url(../img/Image/3.jpg);
	width:100%;
	height:600px;
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
}
#profile-photos{
	background:#E5E5E5;
	width:100%;
	height:400px;
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
}
#img_upload {
	border-radius:4px;
}
.choose{
	height:30px;
	text-align:center;
}