*{marging:0px;padding:0px;}
#account{
float:left;
margin-bottom:40px;
width:100%;
}
 .avar{
	width:60px;
	height:60px;
	
 }
	.name-acc{
		float:left;
	}
#details{
width:100%;
	margin-top:80px;
	border-top: 1px solid#CCC;
}
.details_img{
width:1200px;

}
#map{width:500px;
height:300px;
float:right;

}
#photo{
	text-align:center;
	margin-top:20px;
	min-height:1000px;
	}
#info{
float:left;
margin-right:300px;
font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color:#999;
}
img{
	max-width:1100px;
	height:auto;
	background-repeat:no-repeat;
}
#comment{
	width:620px;
	height:70px;
	margin-left:40px;
}
	.img_acc{
		width:70px;
		height:70px;
		float:left;
		background-color:#CCC;
		border-radius:4px 4px;
	}
	#post_cmt{
	margin-top:10px;
	float:right;
	
	}
	#comment_text{
		width:530px;
		height:70px;
		float:left;
		margin-left:20px;
	}
	.comment{
		width:530px;
		height:70px;
		border-radius:4px 4px;
	}
	.related{
		margin-top:50px;
		float:left;
		margin-left:40px;
	}
	.content_cmt{
	width:700px;
	height:70px;
	float:left;
	}	
	.info_cmt{
	width:150px;
	
	padding-left:20px;
	}