<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/button.css" />
<title>Untitled Document</title>
</head>

<body>
<a href="" class="button add">Add</a> <a href="" class="button edit">Edit</a> <a href="" class="button delete">Delete</a> <a href="" class="button save">Save</a> <a href="" class="button email">Send email</a> <a href="" class="button like">Like</a> <a href="" class="button next">Next</a> <a href="" class="button star">Favourite</a> <a href="" class="button spark">Spark</a> <a href="" class="button play">Play</a>


</body>
</html>
