<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<script>
	$('img').bind('click', function(){
console.log( $(this).exifPretty() );
 
//returns all exif data
});
</script>
<body>
<img src="img/Image/c0b95409c55582500afc58ab9699c49b.jpg" id="img1" exif="true" />
</body>
</html>
