<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/profile.css" />
<title>Profile Page</title>
</head>

<body>
	<div id="wrapper">
    	<div id="header">
        	<div id="top_header">
            	<div class="img_acc">
                	<span class="acc_img" style="background-image:url(img/icon/avar.png);display:block;"></span>
                </div>
                
                <div class="info">
                	<div class="name">
                    	<p class="name_acc">Name Acc</p>
                    </div>
                    
                    <div class="details">
    					<p class="detail">Detail1</p>
                        <p class="detail">Detail2</p>
                        <p class="detail">Detail3</p>
                    </div>
                    
                    <div class="bonus">
                    	<button class="follow" type="button">FOLLOW</button>
                        <button class="connect" style="background-image:url(img/icon/fb_icon.jpg);" type="button"></button>
                        <button class="connect" style="background-image:url(img/icon/twitter.png);" type="button"></button>
                        <button class="connect" style="background-image:url(img/icon/pinterest.png);" type="button"></button>
                        <button class="connect" style="background-image:url(img/icon/google-plus.png);"type="button"></button>
                        <button class="connect" style="background-image:url(img/icon/mail.png);" type="button"></button>
                    </div>
                </div>
            </div>
            
            <div id="bottom_header">
            	<div class="button">
                	<button class="style_bt" type="button"><p class="text">ABOUT</p>
                    </button>
                    <button class="style_bt" type="button"><p class="text">FOLLOW</p>
                    </button>
                    <button class="style_bt" type="button"><p class="text">PHOTOS</p>
                    </button>
                    <button class="style_bt" type="button"><p class="text">SETS</p>
                    </button>
                    <button class="style_bt" type="button"><p class="text">STORIES</p>
                    </button>
                    <button class="style_bt" type="button"><p class="text">FAVORITES</p>
                    </button>
                     <button class="style_bt" type="button"><p class="text">STORE</p>
                    </button>
                    
                    
                </div>
            </div>
        </div>
    	
        <div id="content">
        	<span class="image" style="background-image:url(img/Image/img_site.jpg);"></span>
            <span class="image" style="background-image:url(img/Image/img_site.jpg);"></span>
            <span class="image" style="background-image:url(img/Image/img_site.jpg);"></span>
            <span class="image" style="background-image:url(img/Image/img_site.jpg);"></span>
            
            <span class="image" style="background-image:url(img/Image/img_site.jpg);"></span>
            <span class="image" style="background-image:url(img/Image/img_site.jpg);"></span>
            <span class="image" style="background-image:url(img/Image/img_site.jpg);"></span>
            <span class="image" style="background-image:url(img/Image/img_site.jpg);"></span>
            
        </div>
        
        <div id="footer">
        
        </div>
    </div>
</body>
</html>
